main {
    width: 100%;
}
body{
    background-color: #000;
}
.abuet-bg {
    background: url(../images/bg-about-us.jpg) no-repeat center 0;
    height: 55vh;
}

.title-bg-about {
    text-align: center;
    color: #fff;
    left: 50%;
    top: 45%;
    position: absolute;
    transform: translate(-50% , -55%);
}
.title-bg-about h2 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 15px;
}
.title-bg-about p {
    font-weight: 18px;
    
}
.title-bg-about a {
    color: #fff;
    font-weight: 500;
}
/* ************************************* */
/* blog */
.blog {
    width: 100%;
    
    color: #fff;
    width: 100%;
}

.items-blog {
    text-align: center;
    margin: 30px auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.item-blog img{
    border-radius: 41px;
}
.item-blog h3{
    font-size: 24px;
    margin: 20px 0;

}

.item-blog button{
    background-color: var(--bg-color);
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
    height: 70px;
    line-height: 70px;
    padding: 0 50px;
    position: relative;
    border-radius: 100px;
    transition: all .9s;
}
.item-blog button a{
    color: #fff;
}
.item-blog button:hover{
    background-color: var(--bglight-color);
    border-radius: 10px;
}

/* ******************************************** */
.contact{
    display: flex;
    justify-content: space-around;
    color: #fff;
    text-align: center;
    margin: 40px 0;
}
.contact .item-contact {
    background-color: #23276e;
    cursor: pointer;
    width: 400px;
    height: 200px;
    padding-top: 20px;
    border-radius: 100px;
    transition: all 0.6s ;
}
.contact .item-contact:hover {
    transform: skew(20deg);
}
.contact .item-contact img {
    width: 77px;
}
.contact .item-contact h2{
    transition: all 0.6s ;
}
.contact .item-contact h2:hover {
    color: #da4fd3;
}

