body {
    background-color: #000;
}
.bg-our-team {
    
    background: url(../images/our-team.jpg) no-repeat center 0;
    height: 55vh;
}
.title-bg-our-team{
    text-align: center;
    color: #fff;
    left: 50%;
    top: 45%;
    position: absolute;
    transform: translate(-50% , -55%);
}
.title-bg-our-team h2 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 15px;
}
.title-bg-our-team p{
    font-weight: 18px;
}
.title-bg-our-team a {
    color: #fff;
    font-weight: 500;
}
/* ****************************************************************************** */
.team {
    color: #fff;
    margin-top: 0 auto;
    text-align: center;
    width: 100%;


}
.title-team h2 {
    font-size: 35px;
    font-weight: 900;
}
.title-team p {
    font-size: 18px;
    margin: 20px 0;
}
/* .content-team{
    


} */
.content-team .flex {
    display: flex;
}
.content-team .flex .item-team {
    margin: 0 30px;
}

.img-team img {
    transition: all .35s ease-in-out;
    border-radius: 100px;
    width: 315px;
    
}
.img-team img:hover {
    transform: scale(1.05);
}
.title-item {
    border-radius: 100px;
    left: 0;
    color: #fff;
    transform: translateY(-60%);
    background: #23276e;
    text-align: center;
    padding: 30px;
    transition: all .35s ease-in-out;
}
.title-item:hover {
    transform: translateY(-75%);

}
.title-item h3{
    font-size: 20px;
    font-weight: 600;
}
.title-item span{
    display: block;
    margin: 10px 0;
    opacity: 0.7;
}
.title-item .icons-team i{
    margin: 0 10px;
}
/* ************************************************************ */
/* BLOG PAGE */


















